<!DOCTYPE html>
<html>
	<head>
		You breached our user policy of not being a dick on the website
		</head>
		<body>
		Hi <%= @user.firstname %> you have been a dick on Rotten Mangoes hence we are expiring your account.

		<p>Good day,</p>

		<p>Admin</p>
		<p>Rottem Mangoes</p>
		</body>

		</html>